.titleText {
	-fx-font-size: 28;
}

.subTitleText {
	-fx-font-size: 24;
}

.subSubTitleText {
	-fx-font-size: 18;
}

.text {
	-fx-font-size: 15;
}

.errorText {
	-fx-font-size: 13;
	-fx-fill: red;
}²

.separator *.line {
	-fx-border-style: solid;
	-fx-border-width: 3px;
}
